.row.form-group
  %label.col-md-1{ for: :name }
    Nazwa:
  .col-md-11
    = text_field_tag :name, form.name, placeholder: 'Nazwa', class: 'form-control'
.row
  %label.col-md-1
    Ćwiczenia
  .col-md-11
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          %th Zaznacz
          %th.col-md-2 Nazwa:
          %th.col-md-8 Opis:
          %th Ustawienia:
      %tbody
        - exercises.each do |exercise|
          %tr
            %td{ style: 'text-align: center' }
              = check_box_tag 'exercises_ids', exercise.id
            %td
              = exercise.name
            %td
              = exercise.description
            %td.traning-exercise-details
              .row
                .col-md-4
                  Czas:
                .col-md-6
                  = text_field_tag 'exercises_duration', 30, class: 'duration-input'
              .row
                .col-md-4
                  Serie:
                .col-md-6
                  = text_field_tag 'exercises_series_number', 1, class: 'series-number-input'
.row
  .col-md-12
    %button.btn.btn-default.pull-right
      Zapisz
