.row.form-group
  %label.col-md-1{ for: :name }
    Nazwa:
  .col-md-11
    = text_field_tag :name, form.name, placeholder: 'Nazwa', class: 'form-control js-training-name-input'
.row
  %label.col-md-1
    Ćwiczenia
  .col-md-11
    %table.table.table-striped.table-bordered.table-hover.js-training-exercises-table
      %thead
        %tr
          %th Zaznacz
          %th.col-md-2 Nazwa:
          %th.col-md-8 Opis:
          %th Ustawienia:
      %tbody
        - exercises.each_with_index do |exercise, index|
          %tr
            %td{ style: 'text-align: center' }
              = hidden_field_tag 'exercises_ids[]', exercise.id
            %td
              = exercise.name
            %td
              = exercise.description
            %td.traning-exercise-details
              .row
                .col-md-4
                  Czas:
                .col-md-6
                  = text_field_tag 'exercises_duration[]', form.exercises_duration[index], class: 'duration-input js-duration-input'
              .row
                .col-md-4
                  Serie:
                .col-md-6
                  = text_field_tag 'exercises_series_number[]', form.exercises_series_number[index], class: 'series-number-input js-series-number-input'
              .row
                .col-md-6
                  = exercise.decorate.double_sided_human

.row
  .col-md-12
    %button.btn.btn-default.pull-right.js-save-button
      Zapisz
