.row
  %h1
    Wszystkie ćwiczenia
.row
  = link_to 'Dodaj nowe ćwiczenie', new_exercise_path, class: 'btn btn-primary js-add-new-button'
  %br
  %br
%table.table.table-striped.table-bordered.table-hover
  %thead
    %tr
      %th Index:
      %th.col-md-2 Nazwa:
      %th.col-md-8 Opis:
      %th Dwustronne
      %th Akcje:
  %tbody
    - exercises.to_enum.with_index(1).each do |exercise, index|
      %tr
        %td.js-exercise-index
          = index
        %td
          = exercise.name
        %td
          = exercise.description
        %td
          = exercise.decorate.double_sided_human
        %td{ style: 'text-align: center' }
          .btn-group
            = link_to 'Edytuj', edit_exercise_path(exercise.id), class: 'btn-primary btn js-edit-button', role: 'button'
            = link_to 'Usuń', exercise_path(exercise.id), method: 'DELETE', class: 'btn-danger btn', role: 'button'
